:root{
    --blue : #00B9F5;
    --yellow : #FFCE00;
    --black : #000000;
    --white : #ffffff;
}
body{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);

}

header{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoProfile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

main{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

a{
    display: flex;
    flex-direction: row;
    text-align: center;
    max-height: 50px;
    width: 250px;
    text-decoration: none;
    color: var(--black);
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: var(--blue);
    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background-color 0.2s ease;
}

a:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.4);
}

img{
    height: 50px;
}

